/* === GERAL === */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #f5aeae;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative; /* para os balões ficarem presos ao site */
}

/* === HEADER === */
.header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    margin: 20px auto;
    width: 90%;
    max-width: 1100px;
    position: relative;
    overflow: hidden;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #6b0303;
    font-family: 'HappyBirthday', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(12, 12, 12, 0.3);
    padding: 20px;
    background-color: #f5aeae;
    border-radius: 30px;
}

/* === TÍTULO === */
h1 {
    font-size: 48px;
    color: #000000;
    font-family: 'HappyBirthday', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* === CONTEÚDO === */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto 120px auto; /* 120px extra para não cobrir o texto */
    padding: 40px 20px;
    background-color: #ffffff;
    border-radius: 30px;
    font-family: 'avenue', Arial, sans-serif;
    text-align: center;
    width: 90%;
    max-width: 1100px;
    position: relative;
}

p {
    font-size: 32px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #000000;
    margin: 20px 0;
    line-height: 1.5;
    padding: 0 20px;
    border-radius: 30px;
}

.center-gif {
    width: 220px;
    max-width: 80%;
    margin-top: 20px;
}

/* === BOLOS (topo) === */
.birthday-gif {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 180px;
    pointer-events: none;
}

.birthday-gif2 {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 180px;
    pointer-events: none;
}

/* === BALÕES (rodapé) === */
.birthday-gif3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 180px;
    z-index: 9999;
    pointer-events: none;
}

.birthday-gif4 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 180px;
    z-index: 9999;
    pointer-events: none;
}

/* === FONTES === */
@font-face {
    font-family: 'HappyBirthday';
    src: url('fonts/HappyBirthday_Demo.ttf') format('truetype');
}

@font-face {
    font-family: 'avenue';
    src: url('fonts/Avenue de Madison.ttf') format('truetype');
}

/* === RESPONSIVIDADE === */
@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }
    p {
        font-size: 20px;
    }
    .birthday-gif,
    .birthday-gif2,
    .birthday-gif3,
    .birthday-gif4 {
        width: 100px; /* imagens menores no*
